
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", "Arial",sans-serif;
  background-color: #fff;
  color: var(--font-color-black);
  overflow-x: hidden;
  margin-top: 80px;
}

img {
  max-width: 100%;
  height: auto;
}