$font-color-gray: #9597A5;
$bg-color-green:  linear-gradient(135deg, rgba(51, 211, 94, 1), rgba(42, 182, 217, 1));
$bg-color-green-hover:linear-gradient(135deg, rgba(51, 211, 94, 0.4), rgba(42, 182, 217, 0.4));
$bg-color-dark:#2D314D;
$font-color-black:#2D314D;
$font-color-white:#fff;
$font-color-green:rgba(48, 200, 143, 1);
$font-color-light-green:#30C88F;
