.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  margin: 0;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.nav__item {
  padding: 32px 0;
  border-bottom: 3px solid transparent;
}

.nav__item ~ .nav__item {
  margin-left: 30px;
}

.nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: var(--font-color-gray);
  display: inline-block;

}

.nav__item:hover {
  color: var(--font-color-black);
  border-bottom: 3px solid #33D35E;
}